@model TravelTrip.Models.Classes.NewsComments

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-body">
    <div class="wrap">
        <ol class="breadcrumb">
            <li><a href="/Default/Index/">Anasayfa</a></li>
            <li class="active">Hakkımızda</li>
        </ol>
        <div class="about-page">
            <div class="col-md-8 content-left">
                <div class="about">
                    <h2 class="head">Hakkımızda</h2>
                    <p>
                        Çıktığımız bu yolda; sizlere
                        kulübümüzle alakalı güncel haberleri en hızlı ve güvenilir şekilde ulaştırmayı kendimize misyon ediniyoruz.
                    </p>
                </div>
            </div>
            @*<div class="col-md-4 side-bar">
                <div class="first_half">
                    <div class="newsletter">
                        <h1 class="side-title-head">Email Listemize Kaydolun!</h1>
                        <p class="sign">Mail adresiniz ile kaydolun ve haberlerimize ilk siz ulaşın!</p>
                        <form>
                            <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
                            <input type="submit" value="Kaydol!">
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>*@
            <div class="clearfix"></div>
        </div>
    </div>
</div>